<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>Admin Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("{% static 'p17.jpg' %}");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-teal">
    <div class="w3-col s2">
      <a href="{% url 'addproduct' %}" class="w3-button w3-block">ADDPRODUCT</a>
    </div>
    <div class="w3-col s2">
      <a href="{% url 'viewproduct' %}" class="w3-button w3-block ">VIEWPRODUCT</a>
    </div>
    <div class="w3-col s2">
      <a href="{% url 'purchase' %}" class="w3-button w3-block">PVIEW</a>
    </div>
    <div class="w3-col s2">
      <a href="{% url 'HOME' %}" class="w3-button w3-block">ALOGOUT</a>
    </div>

  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">

  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">Honest<br>Furniture</span>
  </div>

</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">



<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <center><h1>click on home button to browse in to the home page</h1></center>
    <center><a href="{% url 'HOME' %}" class="w3-button w3-block" style="width:170px;height:40px;background:transparent;color:teal;border:2px solid teal">HOME</a></center>

</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>

